[submodule "webfrontend"]
	path = webfrontend
	url = https://github.com/shubhamjain1922/digiQ
[submodule "mobileapp"]
	path = mobileapp
	url = https://github.com/Spyy004/hackthebronxdigiqMobile
[submodule "digiQ"]
	path = digiQ
	url = https://github.com/sanial2001/digiQ
